@using SEDC.PizzaApp.Models.ViewModels
@model OrderDetailsViewModel

<h2>DETAILS FOR YOUR ORDER:</h2>

<p>
    @Model.PizzaName - @Model.UserFullName - @Model.PaymentMethod - @Model.PizzaPrice DEN -
    @Model.Address
</p>
